.headermain {
  height: 60px;
  min-height: 5vh;
  max-height: 10vh;
  background-color: #092740;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100vw;
}

.navLink {
  color: #60b0f4;

  margin: 15px;
}

.activeNavLink {
  color: #c8edff;
  margin: 15px;
}
